body{
    background-color: white;
}

h1 {
    text-align: center; 
}

table {
    border-collapse: collapse;
}

th {
    font-size: 28;
    font-weight: 600;
    padding: 10px;
} 

td {
    border: 1px solid black; 
    font-size: 20px;
    padding: 5px;
    text-align: center; 
}